# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Environment variables
.env

# macOS and Linux system files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.tox/